{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 p-3 m-3" style="border:1px solid grey;box-shadow:1px 2px 2px;background-color:rgb(237, 234, 234)"><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            
                <button class="btn btn-lg btn-primary mt-2" type="submit">
                    Sign in
                </button>
                <a class="btn btn-lg btn-secondary mt-2" type="button" href="{{path('app_register')}}" >
                    sign up
                </a></div>
            <div class="col-md-4"></div>    
        </div>
    </form>
{% endblock %}
